h1{
    color: darkgreen;
}
.box {
    background: pink;
    width: 200px;
    height: 200px;
    margin: 1em;
}

.absolute {
    background: blue;
    position: absolute;
    top: 400px;
    left: 200px;
}

.fixed {
    background: limegreen;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}